@tailwind base;
@tailwind components;
@tailwind utilities;


.global-text{
  color: red;
  font-weight: 700;
  font-size: 30px;
}

.active_link {
  color: green;
  font-weight: 600;
  text-decoration: underline;
}

.pending_link {
  color: gray;
  
}